.card {
  border: solid 1px #CCC;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  width: 4rem;
  height: 3rem;
  padding: 2rem;
  margin: 1rem .5rem; 
}

.card p {
  display:flex;
  padding: 0;
  margin: 0;
  text-align: center;
}

.linkCountry {
  text-decoration: none;
  text-align: center;
}

.emojy {
  display:flex;
  padding: 0;
  margin: 0;
  text-align: center;
}
.name {
  display:flex;
  padding: 0;
  margin:0;
  text-align: center;
  color: black;
}